<!DOCTYPE html><html><head>
    <title><%= title %></title>
</head>
<body data-pageid="test">
	<h1><%= title %></h1>
	<div class="main pagebox">
		<%# include('tmpl_head1',{tt:title}); %>
		<%-tmpl('tmpl_head1')%>
	   
	</div>	
<script type="text/javascript" src="jquery-1.11.1.js"></script>
</body></html>